.row
  .span6.offset2
    %h1 The Coolet Fish 
    %img{:src => "/img/Fish.jpeg"}
  .span4
    .row
      .span2
        .temp_label
          Outside Temp
      .span2
        .temp_label
          Tank Temp
    .row
      .span2
        .temp
          65&deg;<font size='10px'>C</font>
      .span2
        .temp
          72&deg;<font size='10px'>C</font>
    .row
      .span4
        .buffer
    .row
      .span4
        .lights
          LIGHTS <span class="off"> OFF </span> 
