.row
  .span6.offset2
    %h1 The Coolet Fish 
    %img{:src => "/img/Fish.jpeg"}
  .span4
    .row
      .span2
        .temp_label
          Outside Temp
      .span2
        .temp_label
          Tank Temp
    .row
      .span2
        .temp
          #{@room_temp}&deg;<font size='5px'>C</font>
      .span2
        .temp
          #{@tank_temp}&deg;<font size='5px'>C</font>
    .row
      .span4
        .buffer
    .row
      .span4
        .lights
          LIGHTS <span class="#{@light}"> #{@light.upcase} </span> 
